<div class="col-4 pt-15">
    <div class="card" style="width: 18rem;" (click)="onSelected()">
        <img class="card-img-top" [src]="recipe.imagePath" [alt]="recipe.name" style="max-height: 250px;"
            data-toggle="tooltip" data-placement="top" [title]="recipe.name">
        <div class="card-body">
            <h5 class="card-title text-truncate" data-toggle="tooltip" data-placement="bottom" [title]="recipe.name">
                {{ recipe.name }}</h5>
            <p class="card-text text-truncate" data-toggle="tooltip" data-placement="bottom"
                [title]="recipe.description">
                {{ recipe.description }}</p>
        </div>
    </div>
</div>